<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Welcome To The Homepage</h1>
    <br>
    <h1>Available Streams</h1>
    <ul>
        {% for stream in streams %}
            <li><a href="{% url 'stream_detail' stream_id=stream.id %}">Stream {{ stream.id }}</a></li>
        {% empty %}
            <li>No streams available.</li>
        {% endfor %}
        <br>
        <a href="{% url 'start_stream' %}">Start Stream</a>
    </ul>
</div>

</body>
</html>

{#{% for stream in streams %}#}
{#    <a href="{% url 'stream_detail' stream_id=stream.id %}">Stream {{ stream.id }}</a>#}
{#{% endfor %}#}
