<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stream</title>
</head>
<body>
<div>
    <h1>Start Stream</h1>
    <form method="post" {% url 'start_stream' %}>
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        <br>
        <input type="submit" value="Start Stream">
    </form>
</div>
</body>
</html>