<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
</head>
<body>
{#<div>#}
{#    <h1>Video</h1>#}
{#</div>#}
{#<div>#}
{#     <img id=" resImg" src=" "  alt="Image"/>#}
{#</div>#}
{#<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" ></script>#}
{#<script>#}
{#         const ws = new WebSocket(#}
{#             'ws://'#}
{#             + window. location. host#}
{#             + '/ws/video/'#}
{#             + 'wms '#}
{#             + '/'#}
{#         );#}
{##}
{#        ws.onmessage = function(evt) {#}
{#            v_data = JSON.parse(evt.data);#}
{#            $("#resImg").attr("sre", v_data.message);#}
{#            //console. log( "Received Message: и + v_data.message);#}
{#             // ws.close();#}
{#         };#}
{#        ws.onclose = function (evt) {#}
{#            console.log("Connection closed. ");#}
{#         };#}
{##}
{#</script>#}

<h1 style="color: #1ce5f1">Welcome To The Video Stream !!!</h1>

</body>
</html>